{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>签到</title>
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
		.qian{
			
			background: url(/public/static/money/images/sign_in.gif) no-repeat top;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			position: fixed;
			background-size: cover;
		}

	</style>
</head>
<body>
	<a href="javascript:WeixinJSBridge.call('closeWindow');" class="qian">
		
	</a>
</body>
</html>