{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>详情</title>
		<link rel="stylesheet" type="text/css" href="__STYLE__css/all.css">
		 <link rel="stylesheet" href="__STYLE__css/common.css">
		 <link rel="stylesheet" href="__STYLE__css/font-awesome.css">
		    <link rel="stylesheet" href="__STYLE__css/font-awesome.min.css">
		    <link rel="stylesheet" href="__STYLE__css/font-awesome-ie7.min.css">
		    <link rel="stylesheet" href="__STYLE__css/bootstrap.css">
	</head>
	<body>
	<!--头部-->
		<div class="one-head navbar-fixed-top text-center">
		    <a href="javascript:window.history.back();"><span class="fa fa-chevron-left"></span></a>
		    <span class="detail1">月报详情</span>
		</div>
		<div class="body_box_two">
			<div class="push-main">
			   
			     <p class="title-weeklys">{$data.rtitle}</p>
    					<p class="title-weeklys-s">{$data.rtime|date='Y-m-d',###}
  					  <span class="one-weeklys">积少成多V</span>
    						</p>
			    <div class="border-time-push2">
			 
				{$data.rcontent}
					
			    </div>
			</div>
		 <!--底部-->
		<div class="aboutus_footer" style="font-size:15px">
          <h6 class="text-center" style="margin:7% 0;font-size:15px;color:#000; font-weight:normal;">
           <!--  <p style="color:#1d5ba6;">服务专线：
            <a href="tel:010-56519898" style="font-size:15px;font-weight:normal;text-decoration: none;color:#1d5ba6;">010-56519898</a></p>
          <p style="color:#cc0000">投诉建议：
            <a href="tel:010-87777911" style="font-size:15px;font-weight:normal;text-decoration: none;color:#cc0000;">010-87777911</a></p> -->
          </h6>
      </div>
		</div>
	</body>
</html>
