
<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li>
								<a href="#">消息管理</a>
							</li>
							<li class="active">上传消息</li>
						</ul><!-- .breadcrumb -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>
					<div class="page-content">
						<div class="page-header">
							<h1>
								消息
								<small>
									<i class="icon-double-angle-right"></i>
									消息添加
								</small>
							</h1>
						</div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal" role="form" action="{:url('wxadmint1/news/insert')}" method="post">
								{:token('__hash__')}
									<input name="name" type="hidden" value="only">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 类型 </label>
											<div class="col-sm-9">
												<select id="bi" name="mt_name" class="col-xs-10 col-sm-5">
													<option value="">请选择类型</option>
													<option value="日常通知">日常通知</option>
												</select>
											</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 模板标题 </label>
										<div class="col-sm-9">
											<textarea id="first" name="first" rows="5" cols="50"  class="col-xs-10 col-sm-5"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 标题 </label>
										<div class="col-sm-3">
											<input type="text" name="title" class="col-xs-10 col-sm-5">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2">内容 </label>

										<div class="col-sm-9">
											<textarea id="zhai" name="news_adstracts" rows="5" cols="50" id="form-field-2" class="col-xs-10 col-sm-5"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 备注 </label>
										<div class="col-sm-9">
											<textarea id="remark" name="remark" rows="5" cols="50"  class="col-xs-10 col-sm-5"></textarea>
										</div>
									</div>


									 <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2">普通客户类型 </label>
										 <div class="col-sm-9" style="line-height:32px">
										{volist name="utype" id="utype"}
											 <input type="checkbox" name="user_type[]" value='{$utype.type_id}'>{$utype.type_name}
										{/volist}
											<br> <input type="checkbox" id="cb1" onclick="checkAll()"/>全选/取消
										 </div>
									  </div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2">企业客户身份 </label>
										<div class="col-sm-9" style="line-height:32px">
											{volist name="uauth" id="uauth"}
											<input type="checkbox" name="user_auth[]" value='{$uauth.type}'>{$uauth.type_name}
											{/volist}
											<br><input type="checkbox" id="cb2" onclick="checkAlls()"/>全选/取消&nbsp;&nbsp;&nbsp;<span></span>
										</div>
									</div>

									<!--<div class="form-group">-->
										<!--<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 详情页链接 </label>-->
										<!--<div class="col-sm-9">-->
											<!--<input type="text" name="link_url" value="">-->
										<!--</div>-->
									<!--</div>-->
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 发布时间 </label>
										<div class="col-sm-9">
											<input type="text" name="time" placeholder="例：2021-07-22 15:55:00">
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2">详情页内容 </label>
										<div class="col-sm-9">
										<textarea placeholder="请输入内容" id="container" name="new_content" type="text/plain" style="width:600px;height:200px;"></textarea>
										</div>
									</div>
									<!--<div class="form-group">-->
										<!--<label class="col-sm-3 control-label no-padding-right" for="form-field-2">服务类型颜色 </label>-->
										<!--<div class="col-sm-9" style="line-height:32px">-->
											<!--<input id="lian" type="radio" name="mt_color" value='1' checked>红-->
											<!--<input id="lian" type="radio" name="mt_color" value='2' >蓝-->
										<!--</div>-->
									<!--</div>-->


									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<input type="submit" value='提交' class="btn btn-info">
										</div>
									</div>		
									</form>
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
<script type="text/javascript" src="__HSTYLE__/ueditor/ueditor.config.js"></script>
  <!-- 编辑器源码文件 -->
  <script type="text/javascript" src="__HSTYLE__/ueditor/ueditor.all.js"></script>
  <!-- 实例化编辑器 -->
  <script type="text/javascript">

	  function checkAll(){
		  var cb = document.getElementById("cb1");
		  if(cb.checked==true){
			  var checkbox1 = document.getElementsByName("user_type[]");
			  for(var i=0;i<checkbox1.length;i++){
				  checkbox1[i].checked=true;
			  }
		  }else{
			  var checkbox1 = document.getElementsByName("user_type[]");
			  for(var i=0;i<checkbox1.length;i++){
				  checkbox1[i].checked=false;
			  }
		  }
	  }

	  function checkAlls(){
		  var cb = document.getElementById("cb2");
		  if(cb.checked==true){
			  var checkbox1 = document.getElementsByName("user_auth[]");
			  for(var i=0;i<checkbox1.length;i++){
				  checkbox1[i].checked=true;
			  }
		  }else{
			  var checkbox1 = document.getElementsByName("user_auth[]");
			  for(var i=0;i<checkbox1.length;i++){
				  checkbox1[i].checked=false;
			  }
		  }
	  }


    var ue = UE.getEditor('container', {
      toolbars: [
    [
        'anchor', //锚点
        'undo', //撤销
        'redo', //重做
        'bold', //加粗
        'indent', //首行缩进
        'snapscreen', //截图
        'italic', //斜体
        'underline', //下划线
        'strikethrough', //删除线
        'subscript', //下标
        'fontborder', //字符边框
        'superscript', //上标
        'formatmatch', //格式刷
        'source', //源代码
        'blockquote', //引用
        'pasteplain', //纯文本粘贴模式
        'selectall', //全选
        'print', //打印
        'preview', //预览
        'horizontal', //分隔线
        'removeformat', //清除格式
        'time', //时间
        'date', //日期
        'unlink', //取消链接
        'insertrow', //前插入行
        'insertcol', //前插入列
        'mergeright', //右合并单元格
        'mergedown', //下合并单元格
        'deleterow', //删除行
        'deletecol', //删除列
        'splittorows', //拆分成行
        'splittocols', //拆分成列
        'splittocells', //完全拆分单元格
        'deletecaption', //删除表格标题
        'inserttitle', //插入标题
        'mergecells', //合并多个单元格
        'deletetable', //删除表格
        'cleardoc', //清空文档
        'insertparagraphbeforetable', //"表格前插入行"
        'insertcode', //代码语言
        'fontfamily', //字体
        'fontsize', //字号
        'paragraph', //段落格式
        'simpleupload', //单图上传
        'insertimage', //多图上传
        'edittable', //表格属性
        'edittd', //单元格属性
        'link', //超链接
        'emotion', //表情
        'spechars', //特殊字符
        'searchreplace', //查询替换
        'map', //Baidu地图
        'gmap', //Google地图
        'insertvideo', //视频
        'help', //帮助
        'justifyleft', //居左对齐
        'justifyright', //居右对齐
        'justifycenter', //居中对齐
        'justifyjustify', //两端对齐
        'forecolor', //字体颜色
        'backcolor', //背景色
        'insertorderedlist', //有序列表
        'insertunorderedlist', //无序列表
        'fullscreen', //全屏
        'directionalityltr', //从左向右输入
        'directionalityrtl', //从右向左输入
        'rowspacingtop', //段前距
        'rowspacingbottom', //段后距
        'pagebreak', //分页
        'insertframe', //插入Iframe
        'imagenone', //默认
        'imageleft', //左浮动
        'imageright', //右浮动
        'attachment', //附件
        'imagecenter', //居中
        'wordimage', //图片转存
        'lineheight', //行间距
        'edittip ', //编辑提示
        'customstyle', //自定义标题
        'autotypeset', //自动排版
        'webapp', //百度应用
        'touppercase', //字母大写
        'tolowercase', //字母小写
        'background', //背景
        'template', //模板
        'scrawl', //涂鸦
        'music', //音乐
        'inserttable', //插入表格
        'drafts', // 从草稿箱加载
        'charts', // 图表
       
    ]
],  
    autoHeight: false,
    initialFrameWidth :800,//设置编辑器宽度
initialFrameHeight:250,//设置编辑器高度
scaleEnabled:true//设置不自动调整高度
//scaleEnabled {Boolean} [默认值：false]//是否可以拉伸长高，(设置true开启时，自动长高失效)
});

  function check(){
      var lei=""
      $('input[name="utype[]"]:checked').each(function(){
          lei+=$(this).val()+',';
      }); ;
      var learn = $("#learn option:selected").val();
    // alert(nei);


      console.log(lei);
      console.log(learn);

      $.ajax({
          type: "POST",
          url: "yulan.html",
          data: {lei:lei,learn:learn},
          dataType: "json",
          success: function(data){
              alert(data);
          }
      });
  }

   
    
  </script>
					