
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="#">首页</a>
			</li>

			<li>
				<a href="#">红包雨</a>
			</li>
			<li class="active">红包雨</li>
		</ul><!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
					<i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- #nav-search -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				红包雨
				<small>
					<i class="icon-double-angle-right"></i>
				红包雨
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="row">
					<div class="col-xs-12">
				
						<div class="table-responsive">
						<!-- 搜索框 -->
		
			<a href="open.html"><input type="button" value='开启红包雨' class="btn btn-info" style="border:0;padding:4px 10px;background:#4f99c6;color:#fff;"></a>
			<a href="down.html"><input type="button" value='关闭红包雨' class="btn btn-info" style="border:0;padding:4px 10px;background:#4f99c6;color:#fff;"></a>
			<a href="send_red.html"><input type="button" value='发放红包' class="btn btn-info" style="border:0;padding:4px 10px;background:#4f99c6;color:#fff;"></a>

			<a href="index.html?type=1"><input type="button" value='总红包排序' class="btn btn-info" style="border:0;padding:4px 10px;background:#4f99c6;color:#fff;"></a>
			<a href="report.html"><input type="button" value='发放记录' class="btn btn-info" style="border:0;padding:4px 10px;background:#4f99c6;color:#fff;"></a>
			<br/>
						<span class="btn btn-sm" data-rel="tooltip" title="" data-original-title="Default">用户总人数：{$us}</span>
		
							<table id="sample-table-1" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center">
											<label>
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</th>
										<th>用户ID</th>
										<th>昵称</th>
										<th>图片</th>
										<th>要发放红包</th>
										<th>总获得红包</th>
									
									</tr>
								</thead>
						{volist name="data" id="data" key="key"}
								<tbody>
									<tr>
										<td style="text-align:center;vertical-align:middle;"></td>
										<td style="text-align:center;vertical-align:middle;">{$data.users_id}</td>
										
										<td style="text-align:center;vertical-align:middle;"><?php echo base64_decode($data['wx_nickname']);?></td>
										<td style="text-align:center;vertical-align:middle;"><img src="{$data.wx_img}" style="width:100px;height:100px;"></td>
										<td style="text-align:center;vertical-align:middle;"><span style="color:red;font-weight:bold;">{$data.no_money}元</span></td>
										<td style="text-align:center;vertical-align:middle;"><span style="color:red;font-weight:bold;">{$data.moneys}元</span></td>
									</tr>
								</tbody>
							{/volist}

<!-- <script src="__HSTYLE__/js/jquery.min.js"></script> -->
<script src="__HSTYLE__/data_files/laydate.js"></script>
<link type="text/css" rel="stylesheet" href="__HSTYLE__data_files/laydate.css">
<link type="text/css" rel="stylesheet" href="__HSTYLE__data_files/laydate(1).css" id="LayDateSkin">
<!-- 日期插件 -->
<script>
;!function(){
laydate({
   elem: '#demo'
})
}();
</script>

<script>
;!function(){
laydate({
   elem: '#dates'
})
}();
</script>

							
					
							</table>
							 {neq name="page" value=""}
					                                            {$page}
					                                          {/neq}
							
							
						</div><!-- /.table-responsive -->
					</div><!-- /span -->
				</div><!-- /row -->

		
				

			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->

