{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>协议</title>
		<meta name="viewport" content="width=device-width">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="__STYLE__css/dragin_compliance.css" rel="stylesheet" />
		<script src="__STYLE__js/jquery-2.1.1.min.js" ></script>
		<script src="__STYLE__js/dragon_compliance.js" ></script>
		<style>
			html,body{
				background: #ffffff;
			}
		</style>
	</head>
	<body>
		<div class="login_big_div">
			<h1 class="login_div_h1"><img src="__STYLE__img/logo.png"/></h1>
			<label>
				<img src="__STYLE__img/zhanghao.png" />
				<input type="text"  class="user_id"/>
			</label>
			<label>
				<img src="__STYLE__img/mima.png" />
				<input type="text"  class="user_world"/>
			</label>
			<input type="button" value="登录" class="register_button">
			<p class="read_book"><img src="__STYLE__img/dl_icon_xuanz.png">我已仔细阅读<span class="read_book_span">《证券投资顾问业务风险揭示书》</span></p>
		</div>
	</body>
</html>
