{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,	minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="__STYLE__/css/wenjian/appointment.css" type="text/css"  rel="stylesheet"/>
    <script src="__STYLE__/js/wenjian/jquery-2.1.1.min.js"></script>
    <script src="__STYLE__/js/wenjian/ninety_day.js"></script>
    <title>激进型</title>
</head>
<body>
<h1 class="head_img">
    <img src="__STYLE__/img/wenjian/images_banner_1.png">
</h1>
<div class="index_info">
    <p>{$data.learn_title}</p>
    <p>已报名{$count}人 <span class="index_num">第{$sort}位报名</span></p>
</div>
<article>
    <img src="__STYLE__/img/wenjian/images_particulars_1.png">
</article>
<div>

</div>
<!--<a href="enrollrad.html"><p class="footer">立即报名</p></a>-->
<p class="footerr">立即报名</p>
<!-- 您已报名 颜色999999 -->
</body>
</html>
