{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8"><meta name="viewport" content="width=device-width,	minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="__STYLE__css/jijin/short_appoin.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <!-- 积少成多体验服务 -->
<div class="index_div">
    <div class="in_head_img">
        <img src="__STYLE__img/jijin/img_details_02.png" />
        <span>
					<img src="__STYLE__img/jijin/bg_headline.png">
					<dl class="in_head_dl">
						<dd class="in_head_time">{$learn.learn_title}</dd>
						<dd class="in_head_num">已报名{$count}人</dd>
						<!--<dt class="in_head_result">已报名</dt>-->
					</dl>
				</span>
    </div>

    <img src="__STYLE__img/jijin/img_details_03.png" />
    <img src="__STYLE__img/jijin/img_details_04.png" />
</div>
<h3 class="footer_btn"><a href="enrollrad.html"><img src="__STYLE__img/jijin/btn_apply.png"></a></h3>




<!-- 短线激进体验报名弹框 -->

</body>
</html>
