{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>服务通知详情</title>
		<link rel="stylesheet" type="text/css" href="__STYLE__css/all.css">
		<link rel="stylesheet" href="/public/static/platform/css/vouchars.css" />
		<script type="text/javascript" src="__CSS__js/jquery-1.11.2.min.js"></script>
		<style type="text/css">
		body,html{
			margin: 0;
		    padding: 0!important;
		    min-height: 100%;
				}
		</style>
	</head>
	<body>
		<div class="body_box_two"> 	
				<h1><img src="__STYLE__img/details_of_bgimg.jpg" width="100%"></h1>
				<div class="entry_all_box details_of_position">
					<p class="details_of_title">{$data.mt_name}<span class="details_of_title_span">服务时间：{$data.s_addtime|date='Y-m-d H:i:s',###} </span></p>
					<div class="details_of_world"> {$data.s_content}  </div>
				</div>
		</div>
		{if condition="$users.is_platform eq 1"}
		<!--未领取-->
		
		{elseif condition="$users.is_platform eq 2"}
		<!--已领取未使用 天数{$users.between}-->
		<div class="guding_div">
			<h1 class="guding_img"><img src="/public/static/platform/img/guding.gif"></h1>
		</div>
		<div class="effective_div">
			<div class="black_div_two"></div>
			<div class="you_div">
				<h1 class="effect_img">
					<img src="/public/static/platform/img/youxiao.png">
					<span class="time_num">{$users.between}</span>
				</h1>
			</div>
		</div>
		{elseif condition="$users.is_platform eq 3"}
		<!--已使用-->
		{/if}

		<!--底部-->
		
			<div class="aboutus_footer" style="font-size:15px;">
				<p>小而稳定的收益累积起来绝对惊人</p>
			    <h6 style="margin:5% auto;font-size:15px;color:#000; font-weight:normal;">
				<!-- <p style="color:#1d5ba6;">服务专线：
			    	<a href="tel:010-56519898" style="font-size:15px;font-weight:normal;text-decoration: none;color:#1d5ba6;">010-56519898</a></p>
			    <p style="color:#cc0000">投诉建议：
			    	<a href="tel:010-87777911" style="font-size:15px;font-weight:normal;text-decoration: none;color:#cc0000;">010-87777911 </a></p> -->
			    </h6>
			</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$(".guding_div").click(function(){
					window.scrollTo(0,0); 
					$(".effective_div").show();
					$(".guding_div").hide();
				})
				$(".effective_div").click(function(){
					$(this).hide();
					$(".guding_div").show();
				})
			})
		</script>
		<script type="text/javascript">
			$(function(){ 
				pushHistory(); 
				window.addEventListener("popstate", function(e) { 
				WeixinJSBridge.call('closeWindow');//根据自己的需求实现自己的功能 
				}, false); 
				function pushHistory() { 
				var state = { 
				title: "title", 
				url: "#"
				}; 
				window.history.pushState(state, "title", "#"); 
				} 
				});

			//  $(document).ready(function(e) { 
			//             var counter = 0;
			//             if (window.history && window.history.pushState) {
			//                              $(window).on('popstate', function () {
			//                                             window.history.pushState('forward', null, '#');
			//                                             window.history.forward(1);
			//                                           alert("不可回退");
			//                                 });
			//               }

			              
			// }); 

		</script>
	</body>
</html>
