{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>关于我们</title>
	<link rel="stylesheet" type="text/css" href="__STYLE__css/all.css">
		
    	
	</head>
	<body>
		<div class="body_box">
		<h1><img src="__STYLE__img/about_banner.jpg" /></h1>
		<div class="about_box">
			<p>上海证券通投资资讯科技有限公司成立于1994年，具有中国证监会颁发
	的证券投资咨询牌照（证券咨询许可证代码：zx0112），是一家专业从事股
	票咨询的正规投资咨询公司。</p>
	       <p>2004年公司创建的“证券通”商业品牌，在证券投资领域具有深厚的认
	知度和影响力。</p>
			
		
		</div>
		<p class="tell_one">投顾专线：010-56519898</p>
		</div>
	</body>
</html>
