{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>竞猜通知详情</title>
		<link rel="stylesheet" type="text/css" href="__STYLE__css/all.css">
		<style>

		</style>
		
</head>
<body>
     
</body>
</html>
</script>
	</head>
	<body>
		<div class="body_box_two">
			<div class="push-main">
			{notempty name="gue"}
			    <p class="time">资讯时间：<span>{$gue.gu_addtime|date='Y-m-d H:i:s',###}  </span></p>
			    <div class="border-time-push">
			        <p class="fenxiang">【{$gue.gu_periods}】</p>
						<p class="world_one">
							{$gue.gu_answer}
						</p>
				{/notempty}
			    </div>
        
			</div>
		
		 <!--底部-->
		
		<div class="aboutus_footer" style="font-size:15px;padding-top: 1rem">
			<p>积少成多、聚沙成塔，<br />
            小而稳定的收益累积起来绝对惊人！</p>
		    <h6 style="margin:5% auto;font-size:15px;color:#000; font-weight:normal;">
			<p style="color:#1d5ba6;">服务专线：
		    	<a href="tel:010-56519898" style="font-size:15px;font-weight:normal;text-decoration: none;color:#1d5ba6;">010-56519898</a></p>
		    <p style="color:#cc0000">投诉建议：
		    	<a href="tel:010-87777911" style="font-size:15px;font-weight:normal;text-decoration: none;color:#cc0000;">010-87777911 </a></p>
		    </h6>
		</div>
		</div>

	</body>
</html>
