{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>服务通知详情</title>
		<link rel="stylesheet"  href="/public/static/home/css/dragon.css" >
		<link rel="stylesheet" href="/public/static/platform/css/vouchars.css" />
		<script type="text/javascript" src="__CSS__js/jquery-1.11.2.min.js"></script>
		<link rel="stylesheet" href="__ZHUCE__css/publicStyle.css" />
		<link rel="stylesheet" href="__ZHUCE__css/spell_luck.css" />
		<script type="text/javascript" src="__ZHUCE__js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="__ZHUCE__js/rem.js"></script>
		<style type="text/css">
			body,html{
				margin: 0;
			    padding: 0!important;
			    min-height: 100%;
			}
			.alert_img img{
				width: 100%;
			}
		</style>

	</head>
	<body>
		<h1><img src="__STYLE__img/details_of_bgimg.jpg" width="100%"></h1>
		<div class=" details_of_position">
			<div class="entry_all_box">
				<p class="details_of_title">注册成功
					<br /><span class="details_of_title_span">服务时间：{$add_time|date="Y-m-d H:i:s",###}</span>
				</p>
				<div class="details_of_world">
					<h1 class="alert_img"><img src="__STYLE__img/regiter_alert.png"></h1>
				</div>
			</div>		
		</div>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		  <script type="text/javascript">

		   window.onload=function(){
		    var imglis = [];
		    var imgObj = $(".details_of_world img");//img对象  注意路径必须为绝对路径
		   function imginfo(){
		    　　for(var i=0; i<imgObj.length; i++){
		              imgObj.eq(i).click(function(){
		    　　　　imglis = [('http://day.1yuaninfo.com'+$(this).attr('src'))]
		        　　　　console.log($(this).attr('src'))
		        　　　　var Imgurl = $(this).attr('src');
		        　　　　WeixinJSBridge.invoke("imagePreview",{
		        　　　　　　"urls":imglis,
		        　　　　　　"current":Imgurl
		        　　　　});
		        　　});
		     
		    　　}
		    }

		    imginfo();
		  }
		  </script>
	</body>
</html>

