{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    	<script type="text/javascript" src="__STYLE__js/jquery-2.1.1.min.js" ></script>

		<title>有奖问答</title>
		<style>
			.true{width:80%;margin:auto}
			h1 img{margin:auto;display: block;width:40%;margin-top:20%}
			.orange{color:#FA5847;font-size:20px;text-align:center;font-weight: bold;}
			.world{color:#3D3D3D;line-height:30px;font-size:18px;margin-top:40px;}
			.complete{color:#fff;background:#F9554B;width:100%;border:none;font-size:18px;padding:8px 0;border-radius: 8px;margin-top:15%;cursor:pointer;-webkit-appearance:none;}
		</style>
	</head>
	<body>
		<div class="true">
			<h1><img src="__STYLE__img/right.png"></h1>
			<p class="orange">恭喜您，答对啦！</p>
			<p class="world">厉害哦，股市老司机！再次恭喜您获得股商服务圈体验机会1次，后期的有奖问答希望您继续参与！</p>
			<p><input type="button" value="完成" class="complete" onclick="submit()"></p>
		</div>
		<script type="text/javascript">
			function submit()
			{
				WeixinJSBridge.call('closeWindow');
			}



		</script>
	</body>
</html>
