
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="#">首页</a>
			</li>

			<li>
				<a href="#">验证码</a>
			</li>
			<li class="active">验证码列表</li>
		</ul><!-- .breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
					<i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- #nav-search -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				验证码
				<small>
					<i class="icon-double-angle-right"></i>
				验证码列表
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
						<!-- 搜索框 -->
			<form class="form-search" action="{:url('phones/index')}">
				<span class="input-icon">
					<input type="text" placeholder="手机号码" class="nav-search-input" id="nav-search-input" autocomplete="off" name='phone' {notempty name="search"}  value={$search} {else /} value="" {/notempty}  />
					<i class="icon-search nav-search-icon"></i>
					
				</span>
				
				<input type="submit" value='搜索' class="btn btn-info" style="border:0;padding:4px 10px;background:#4f99c6;color:#fff;">
			
			</form>
			
			<br/>
		
							<table id="sample-table-1" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center">
											<label>
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</th>
										<th>排序ID</th>
										<th>手机号码</th>
										<th>验证码</th>
										<th>添加时间</th>
										
										
									</tr>
								</thead>

						{volist name="data" id="data" key="key"}

						
								<tbody>
									<tr>
										<td class="center">
											<label>
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</td>
										<td>{$data.pho_id}</td>
										<td>{$data.phone}</td>
										<td>
											{$data.codes}
										</td>
										<td>{$data.pho_time|date='Y-m-d H:i:s',###}</td>
										
									</tr>
								</tbody>
							{/volist}
							
					
							</table>
							 {neq name="page" value=""}
					                                            {$page}
					                                          {/neq}
							
							
						</div><!-- /.table-responsive -->
					</div><!-- /span -->
				</div><!-- /row -->

		
				

			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->

