<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="__STYLE__css/thousands.css" />
		<link rel="stylesheet" href="__STYLE__css/publicStyle.css">
		<script type="text/javascript" src="__STYLE__js/jquery-2.1.1.min.js" ></script>
		<script src="js/rem.js"></script>
		<title>千里挑一股</title>
	</head>
	<body>
		<div class="product_div">
			<h1><img src="__STYLE__img/chanpinye.png" /></h1>
			<div class="product_footer">
				<p><span>￥<b>2980</b>元/月</span><input type="button" value="立即订阅"  class="product_go"/></p>
			</div>
		</div>
	</body>
</html>
