
<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="#">股票分享管理</a>
							</li>
							<li class="active">链接地址添加</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								股票分享管理
								<small>
									<i class="icon-double-angle-right"></i>
									链接地址添加
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" role="form" action="{:url('wxadmint1/share/yanadd')}" method="post">
								<input type="hidden" name="s_id" value='{$data.s_id}'>
									<div class="form-group">
									
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 分享股票标题 </label>

										<div class="col-sm-9">
											<input type="text" id="tit" class="col-xs-10 col-sm-5" name='s_name' value='{$data.s_name}' disabled/>
										</div>
									</div>
                                    <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 分享股票代码名称 </label>

										<div class="col-sm-9">
											<input type="text" id="mings" class="col-xs-10 col-sm-5" name='s_code' value='{$data.s_code}' disabled/>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2">研报链接地址 </label>

										<div class="col-sm-9"  style="line-height:25px">
										<input type="text" id="tit" placeholder="研报链接地址" class="col-xs-10 col-sm-5" name='yan_url' value='{$data.yan_url}'/>
										</div>
									</div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<input type="submit" value='添加' class="btn btn-info">
											
										</div>
									</div>		
									</form>
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->