{__NOLAYOUT__}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <link rel="stylesheet" href="__STYLE__css/all.css" />
	    <script type="text/javascript" src="__STYLE__js/jquery-2.1.1.min.js" ></script>
	    <script type="text/javascript" src="__STYLE__js/all.js" ></script>
	    <style>
	    	html,body{
	height:100%;
	margin:0;
	padding:0;
	overflow: hidden;
	background-size: cover;
}
	    </style>
		<title>服务订单</title>
	</head>
	<body>
		<div class="order">
			<ul class="order_ul">
				<li class="checked">全部</li>
				<li>服务中</li>
				<li>失效</li>
			</ul>
			<div>
				<div class="order_con">
					<img src="__STYLE__img/dingdan_kong_img.png">
					<p>您现在还没有订单!</p>
				</div>
				<div class="order_con">
					<img src="__STYLE__img/dingdan_kong_img.png">
					<p>您现在还没有订单!</p>
				</div>
				<div class="order_con">
					<img src="__STYLE__img/dingdan_kong_img.png">
					<p>您现在还没有订单!</p>
				</div>
			</div>
		</div>
	</body>
</html>
