
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">消息</a>
            </li>
            <li class="active">消息修改</li>
        </ul><!-- .breadcrumb -->
        <div class="nav-search" id="nav-search">
            <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
            </form>
        </div><!-- #nav-search -->
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                消息
                <small>
                    <i class="icon-double-angle-right"></i>
                    消息修改
                </small>
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" role="form" action="{:url('setMessage')}" method="post">
                    {:token('__hash__')}
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">发送内容 </label>

                        <div class="col-sm-9">
                            <textarea id="zhai" name="news_adstracts" rows="5" cols="50" id="form-field-2" class="col-xs-10 col-sm-5">{$data.content}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">推送客户类型(默认是全部选中的状态) </label>
                        <div class="col-sm-9" style="line-height:32px">
                            {volist name="type" id="type"}
                            <input type="checkbox" name="type[]" value='{$type.type_id}' checked>{$type.type_name}
                            {/volist}
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 发送类型 </label>

                        <div class="col-sm-9">
                            <select id="learn" name="wx_type" class="col-xs-10 col-sm-5" required>
                                <option value="">请选择发送类型</option>

                                <option value="1">文本
                                <option value="2">图片
                                <option value="3">语音
                                <option value="4">视频
                                <option value="5">音乐
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 排序 </label>

                        <div class="col-sm-9">
                            <input type="text" name="order" placeholder="数字1,2,3等等">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 发送时间 </label>

                        <div class="col-sm-9">
                            <input type="text" name="send_time" placeholder="格式：时:分 如 17:29">
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value='添加' class="btn btn-info">
                        </div>
                    </div>
                </form>
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
        <script type="text/javascript" src="__HSTYLE__/ueditor/ueditor.config.js"></script>
        <!-- 编辑器源码文件 -->
        <script type="text/javascript" src="__HSTYLE__/ueditor/ueditor.all.js"></script>
        <!-- 实例化编辑器 -->
        <script type="text/javascript">

            var ue = UE.getEditor('container', {
                toolbars: [
                    [
                        'anchor', //锚点
                        'undo', //撤销
                        'redo', //重做
                        'bold', //加粗
                        'indent', //首行缩进
                        'snapscreen', //截图
                        'italic', //斜体
                        'underline', //下划线
                        'strikethrough', //删除线
                        'subscript', //下标
                        'fontborder', //字符边框
                        'superscript', //上标
                        'formatmatch', //格式刷
                        'source', //源代码
                        'blockquote', //引用
                        'pasteplain', //纯文本粘贴模式
                        'selectall', //全选
                        'print', //打印
                        'preview', //预览
                        'horizontal', //分隔线
                        'removeformat', //清除格式
                        'time', //时间
                        'date', //日期
                        'unlink', //取消链接
                        'insertrow', //前插入行
                        'insertcol', //前插入列
                        'mergeright', //右合并单元格
                        'mergedown', //下合并单元格
                        'deleterow', //删除行
                        'deletecol', //删除列
                        'splittorows', //拆分成行
                        'splittocols', //拆分成列
                        'splittocells', //完全拆分单元格
                        'deletecaption', //删除表格标题
                        'inserttitle', //插入标题
                        'mergecells', //合并多个单元格
                        'deletetable', //删除表格
                        'cleardoc', //清空文档
                        'insertparagraphbeforetable', //"表格前插入行"
                        'insertcode', //代码语言
                        'fontfamily', //字体
                        'fontsize', //字号
                        'paragraph', //段落格式
                        'simpleupload', //单图上传
                        'insertimage', //多图上传
                        'edittable', //表格属性
                        'edittd', //单元格属性
                        'link', //超链接
                        'emotion', //表情
                        'spechars', //特殊字符
                        'searchreplace', //查询替换
                        'map', //Baidu地图
                        'gmap', //Google地图
                        'insertvideo', //视频
                        'help', //帮助
                        'justifyleft', //居左对齐
                        'justifyright', //居右对齐
                        'justifycenter', //居中对齐
                        'justifyjustify', //两端对齐
                        'forecolor', //字体颜色
                        'backcolor', //背景色
                        'insertorderedlist', //有序列表
                        'insertunorderedlist', //无序列表
                        'fullscreen', //全屏
                        'directionalityltr', //从左向右输入
                        'directionalityrtl', //从右向左输入
                        'rowspacingtop', //段前距
                        'rowspacingbottom', //段后距
                        'pagebreak', //分页
                        'insertframe', //插入Iframe
                        'imagenone', //默认
                        'imageleft', //左浮动
                        'imageright', //右浮动
                        'attachment', //附件
                        'imagecenter', //居中
                        'wordimage', //图片转存
                        'lineheight', //行间距
                        'edittip ', //编辑提示
                        'customstyle', //自定义标题
                        'autotypeset', //自动排版
                        'webapp', //百度应用
                        'touppercase', //字母大写
                        'tolowercase', //字母小写
                        'background', //背景
                        'template', //模板
                        'scrawl', //涂鸦
                        'music', //音乐
                        'inserttable', //插入表格
                        'drafts', // 从草稿箱加载
                        'charts', // 图表

                    ]
                ],
                autoHeight: false,
                initialFrameWidth :800,//设置编辑器宽度
                initialFrameHeight:250,//设置编辑器高度
                scaleEnabled:true//设置不自动调整高度
//scaleEnabled {Boolean} [默认值：false]//是否可以拉伸长高，(设置true开启时，自动长高失效)
            });

            function check(){

                var lei = $("#lei option:selected").val();
                // alert(lei);
                var zhai = $("#zhai").val();
                // alert(zhai);
                var lian = $("#lian:checked").val();
                // alert(lian);

                var nei = ue.getContent();
                // alert(nei);



                $.ajax({
                    type: "POST",
                    url: "yulan.html",
                    data: {lei:lei,zhai:zhai,lian:lian,nei:nei},
                    dataType: "json",
                    success: function(data){
                        alert(data);
                    }
                });
            }


        </script>

        <script type="text/javascript">


        </script>
